[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/liva-hugo"]
	path = themes/liva-hugo
	url = https://github.com/fablabromagna-org/liva-hugo
